---
image: docker:19.03.0

services:
  - docker:19.03.0-dind

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_VERIFY: 1
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_CERT_PATH: "/certs/client"

before_script:
  - apk update && apk add --no-cache openrc docker python3-dev py3-pip gcc git curl build-base autoconf automake py3-cryptography linux-headers musl-dev libffi-dev openssl-dev openssh gzip unzip tar
  - docker info
  - python3 --version
  - pip3 install ansible molecule docker 'molecule[docker]'
  - ansible --version

molecule:
  stage: test
  script:
    - molecule test
